{% extends "auctions/layout.html" %}

{% block body %}
<h2>Отслеживаемые объявления</h2>
{% for watching_listing in watching_listings %}
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{watching_listing.preview.url }}" class="img-fluid rounded-start" alt="...">    
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ watching_listing.title }}</h5>
          <p class="card-text">{{ watching_listing.description }}</p>
          <p class="card-text">Цена - {{ watching_listing.start_price }}</p>
          <p class="card-text"><small class="text-body-secondary">Дата создания: {{ watching_listing.dateTime_creation }}</small></p>
        </div>       
      </div>
    </div>
  </div>
{% empty %}
<p>Объявлений пока нет</p>
{% endfor %}
{% endblock %}